<%= form_for current_user, url: update_password_my_profile_index_url, html: { class: 'form-control' } do |user| %>
  <%= render 'admin/shared/form_errors', model: current_user %>

  <div>
    <%= user.label :old_password %>
    <%= user.password_field :old_password %>
  </div>

  <div>
    <%= user.label :new_password %>
    <%= user.password_field :password %>
  </div>

  <div>
    <%= user.label :password_confirmation %>
    <%= user.password_field :password_confirmation %>
  </div>

  <div>
    <%= user.submit %>
  </div>
<% end %>
