<li class="item">
  <%= link_to column do %>
    <%= image_tag column.image.thumbnail, width: 200, height: 200 %>
    <div class="serial_info"><%= t('views.column_serial_info', serial_title: column.serial.title) + ' | ' + t('views.column_number', number: column.serial_num) if column.serial_num.present? %></div>
    <div class="title"><%= column.title %></div>
    <time><%=l column.published_at, format: :short %></time>
  <% end %>
</li>
