<article class="item">
  <div class="user-information">
    <div class="user-icon">
      <%= link_to comment.user, class: 'image' do %>
        <%= image_tag comment.user.image.thumbnail, alt: ' ', width: 48, height: 48 %>
      <% end %>
    </div>
    <div class="user-name">
      <%= link_to comment.user.display_name, comment.user %>
    </div>
  </div>
  <div class="body">
    <p><%=br comment.body %></p>
  </div>
  <footer>
    <time><%= localize comment.created_at %></time>
  </footer>
</article>
