<li class="item"><%= link_to product, data: { 'id' => product.id } do %>
  <% if defined? number %>
    <div class="rank rank<%= number %>"><span class="num"><%= number %></span> 位</div>
  <% end %>
  <div class="image">
    <%= image_tag product.main_image.src.square, :size => "64x64" %>
  </div>
  <div class="inner">
    <div class="product-title">
      <span class="brand"><%= product.brand.name %></span>
      <span class="name"><%= product.name %></span>
    </div>
    <div class="stars"><%= star product.star %> <%= product.star.round(1) unless product.star.nil? %></div>
  </div>
<% end %></li>
